@import './base.css';

input, button, textarea {
  all: none;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  background-color: transparent;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.w-100 {
  width: 100% !important;
}

.hide {
  visibility: hidden !important;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.mt-1 {
  margin-top: 10px !important;
}
